$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
body a:link{
    color: #00a3af;
}
body a:hover{
    color: #FF7F50;
}

.nav-fixed-top {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: orange;
    overflow: hidden;
}
#oneDelete{
    color:#eee;
}
#exit {
    width: 80px;
    height: 80px;
    position: absolute;
    overflow: hidden;
    padding: 25px;
    top: 0px;
    right: 120px;
    color: white;
    display: none;
}

#exit span {
    font-size: 30px;
}

#closePop {
    width: 80px;
    height: 80px;
    position: absolute;
    overflow: hidden;
    padding: 25px;
    top: 0px;
    right: 120px;
    color: white;
    display: none;
}

#closePop span {
    font-size: 30px;
}

body {
    background-color:#fddea5;
    background-image: url("paper.png");
}

#cardSearch {
    padding: 20px;
}

#cardSearch.panel {
    height: 100%;
}
#compass{
    position: absolute;
    bottom:80px;
    right:20px;
    overflow: visible;
    opacity: 0.2;
}
#map {
    background-color: #fddea5;
    background-image: url("../images/paper.png");
    text-align: right;
    padding-right: 120px;
    padding-top: 40px;
}

.stampSvg {
    display: none;
}

.stampSvg:hover path,
.stampSvg:hover polygon,
.stampSvg:hover rect {
    fill: white;
}

.hiddenPoints {
    display: none;
}

#mapBg {
    //    display: none;
}

.labels {
    position: relative;
    right: 0;
    top: 0;
    display: block;
    writing-mode: vertical-rl;
    font-size: 18px;
    letter-spacing: 3px;
    font-family: MS-Mincho,LiSong Pro, Microsoft YaHei,Songti,Heiti;
    font-weight: 200;
    vertical-align: center;
    margin: auto;
}

#search {
    position:absolute;
    top:10px;
    left:20px;
    width:220px;
}
#search .panel{
    height:200px;
    overflow: hidden;
}

#titleLabel span {
    -webkit-text-orientation: upright;
}

.test {
    position: absolute;
    top: 0px;
    width: 30px;
    left: 0px;
    display: block;
    writing-mode: vertical-rl;
    font-size: 24px;
    letter-spacing: 10px;
}

.cards {
    background-color: rgba(100%, 100%, 100%, 0.8);
    ;
    overflow: visible;
    position: absolute;
    display: none;
    border: 1px solid rgba(70%, 70%, 70%, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
}

#reviewSpan {
    -webkit-text-orientation: upright;
    font-size: 16px;
    letter-spacing: 2px;
}

.titleBox {
    background-color: rgba(100%, 100%, 100%, 0.2);
    position: relative;
    writing-mode: vertical-rl;
    vertical-align: middle;
    text-align: center;
    width:100%;
    padding: 10px;
    border: 4px solid #00a3af;
    color: #00a3af;
    overflow: visible;
    font-weight: 300;
    font-family: MS-Mincho,LiSong Pro,Heiti;
}


#mapTitleText {
    font-size: 40px;
    margin-left:auto;
    margin-right:auto;
}

#distTitleText {
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
}

#distTitle{
    padding-left: 22px;
    padding-right: 22px;
}

#mapTitleGroup {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 80px;

}
#addressSearchOKP{
    display:none;
}

.jf-loading body { /*載入中不顯示*/
      opacity: 0;
      visibility: hidden;
}
.jf-active body { /*如果處理成功，直接顯示*/
      opacity: 1;
     visibility: visible;
}
